body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #f4f4f9;
}

textarea,
input[type="text"] {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
  display: block;
  margin: 20px auto;
}

#result,
#stats {
  margin-top: 20px;
  padding: 10px;
  background-color: #eee;
  border-radius: 5px;
}
